<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="text/html">
    <meta charset="utf-8">
    <title>Kitsune Utils</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body {
            font-family: "Open Sans",sans-serif;
        }

        .material-icons {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="app"></div>

<script src="https://unpkg.com/vue" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource" type="text/javascript"></script>
<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js" type="text/javascript"></script>
<script src="i18n.js" type="text/javascript"></script>

<script type="text/javascript">

    const default_locale = 'pt_BR';

    const i18n = new VueI18n({
        locale: default_locale,
        fallbackLocale: default_locale,
        messages,
    });

    Vue.component('locale-picker', {
        //language=HTML
        template: `
            <div class="w3-margin-bottom w3-col s3 w3-card-4 w3-margin-right">
                <header class="w3-container w3-blue-grey"><h3>{{ $tc("message.locale_picker.txt_title") }}</h3></header>
                <div class="w3-container">
                    <div class="w3-section"><label for="termosConsulta">{{ $t("message.locale_picker.txt_description") }}</label>
                        <select class="w3-select w3-border" name="localePicker" v-model="locale">
                            <option v-for="locale in locales" :value="locale.code">{{ locale.description }}</option>
                        </select>
                    </div>
                </div>
            </div>`,
        data: function () {
            return {
                locale: default_locale
            };
        },
        props: {
            locales: Array
        },
        watch: {
            locale: function (newLocale) {
                for (let i = 0; i < this.locales.length; i++) {
                    if (this.locales[i].code === newLocale) {
                        this.$emit('updateLocale', this.locales[i]);
                    }
                }
            }
        }
    });

    Vue.component('pesquisa-input', {
        //language=HTML
        template: `
            <div class="w3-margin-bottom w3-col s3 w3-card-4 w3-margin-right">
                <header class="w3-container w3-blue-grey"><h3>{{ $tc("message.search_panel.txt_title") }}</h3></header>
                <div class="w3-container">
                    <div class="w3-section"><label for="termosConsulta">{{ $t("message.search_panel.txt_keyword") }}</label>
                        <input type="text"
                               v-model="palavraChave"
                               id="termosConsulta"
                               v-on:keyup.enter="updatePalavraChave"
                               class="w3-input">
                    </div>
                    <p>
                        <button class="w3-button w3-blue-gray"
                                v-if="!buscaEmAndamento"
                                @click="updatePalavraChave()"
                        >{{ $t("message.search_panel.btn_search") }}</button>
                        <span v-if="buscaEmAndamento"><i class="fa fa-refresh w3-spin"></i> {{ $t("message.search_panel.txt_searching") }}</span>
                    </p>
                </div>
            </div>`,
        data: function () {
            return {
                palavraChave: ''
            }
        },
        props: {
            buscaEmAndamento: Boolean
        },
        methods: {
            updatePalavraChave: function () {
                if (this.palavraChave.trim().length !== 0) {
                    this.$emit('updatePalavraChave', this.palavraChave);
                } else {
                    alert('Digite uma palavra chave');
                }
            }
        }
    });

    Vue.component('pesquisa-resultado', {
        data: function () {
            return {
            }
        },
        props: {
            dados: Object,
            baseUrlArtigo: String,
            palavraChave: String,
            buscaEmAndamento: Boolean
        },
        methods: {
            downloadHtmlDocumento(idDocumento) {
                for(let i = 0; i < this.dados.documents.length; i++) {
                    if (this.dados.documents[i].id === idDocumento) {
                        let pom = document.createElement('a');
                        pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(this.dados.documents[i].html));
                        pom.setAttribute('download', this.dataAtualFormatada + ' - ' + this.dados.documents[i].title + '.html');

                        if (document.createEvent) {
                            let event = document.createEvent('MouseEvents');
                            event.initEvent('click', true, true);
                            pom.dispatchEvent(event);
                        } else {
                            pom.click();
                        }
                    }
                }
            }
        },
        computed: {
            dataAtualFormatada() {
                let dataAtual = new Date();
                return "" + dataAtual.getFullYear() +
                    (dataAtual.getMonth() + 1) +
                    dataAtual.getDate() +
                    dataAtual.getHours() +
                    dataAtual.getMinutes() +
                    dataAtual.getSeconds();
            }
        },
        template: `
            <div class="w3-margin-bottom w3-col s12 w3-card-4">
                <header class="w3-container w3-blue-grey">
                    <h3>{{ $tc("message.result_panel.txt_title", dados.documents.length, {count: dados.documents.length, keyword: palavraChave}) }}</h3>
                </header>
                <div class="w3-container">
                    <div class="w3-section">
                        <table class="w3-table w3-striped w3-bordered" v-show="!buscaEmAndamento">
                            <tr>
                                <th style="width: 5%; text-align: center"></th>
                                <th style="width: 30%;">{{ $t("message.result_table_header.txt_title") }}</th>
                                <th style="width: 55%;">{{ $t("message.result_table_header.txt_summary") }}</th>
                                <th style="width: 10%; text-align: center">{{ $t("message.result_table_header.txt_options") }}</th>
                            </tr>
                            <tr v-for="documento, index in dados.documents" v-bind:id="index">
                                <td style="font-weight: bold">{{index + 1}}.</td>
                                <td>{{documento.title}}</td>
                                <td>{{documento.summary}}</td>
                                <td style="text-align: center; vertical-align: middle; font-size: 24px">
                                    <a :title="$t('message.result_table_row.txt_action_view')" :href="baseUrlArtigo + documento.url" target="_blank"><i class="fa fa-external-link"></i></a>
                                    <a :title="$t('message.result_table_row.txt_action_edit')" :href="baseUrlArtigo + documento.url + '/edit'" target="_blank"><i class="fa fa-pencil"></i></a>
                                    <a :title="$t('message.result_table_row.txt_action_download')" :href="'#' + index" @click="downloadHtmlDocumento(documento.id)"><i class="fa fa-download"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            `
    });


    let vueApp = new Vue({
        el: '#app',
        i18n,
        //language=html
        template: `
            <div>
                <div class="w3-container w3-blue-gray w3-margin-bottom w3-card-4">
                    <h2>Kitsune API Utils <span class="w3-button w3-display-topright"><a href="https://github.com/brwolfgang/kitsuneApiUtils" target="_blank"><i class="fa fa-github"></i></a></span></h2>
                </div>
                <div style="margin-left: 3%; margin-right: 3%">
                    <locale-picker
                            @updateLocale="updateLocale"
                            v-bind:locales="locales"
                    />
                    <pesquisa-input
                            @updatePalavraChave="updatePalavraChave"
                            v-bind:buscaEmAndamento="buscaEmAndamento"
                    />
                    <pesquisa-resultado
                            v-if="listaResultados.documents.length > 0"
                            v-bind:dados="listaResultados"
                            v-bind:baseUrlArtigo="urlBase"
                            v-bind:palavraChave="palavraChave"
                            v-bind:buscaEmAndamento="buscaEmAndamento"
                    />
                </div>
            </div>
`,

        data: function () {
            return {
                kitsuneLocale: 'pt-BR',
                palavraChave: '',
                urlBase: 'https://support.mozilla.org',
                listaResultados: {
                    documents: [],
                    questions: []
                },
                buscaEmAndamento: false
            };
        },

        methods: {
            updateLocale: function (newLocale) {
                i18n.locale = newLocale.code;
                this.kitsuneLocale = newLocale.mozillaApiLocale;
                this.eraseResults();
            },
            updatePalavraChave: function (novaPalavraChave) {
                this.palavraChave = novaPalavraChave;
            },
            updateResultados: function (dados) {
                this.listaResultados.documents = dados.documents;
                this.listaResultados.questions = dados.questions;
            },
            eraseResults: function () {
                this.listaResultados.documents = [];
                this.listaResultados.questions = [];
            }
        },

        watch: {
            palavraChave: function (novaPalavraChave) {
                this.buscaEmAndamento = true;

                let urlConsulta = this.urlBase + this.urlApiMozilla + '&q=' + novaPalavraChave;

                this.$http.get(urlConsulta).then(response => {
                    this.buscaEmAndamento = false;
                    this.updateResultados(response.body);
                }, response => {
                    this.buscaEmAndamento = false;
                    alert("Houve uma falha ao consultar a API do Kitsune");
                });
            }
        },
        computed: {
            urlApiMozilla: function () {
                return '/api/2/search/suggest?max_documents=100&locale=' + this.kitsuneLocale;
            },
            locales: function() {
                let arrayLocales = [];

                let chaves = Object.keys(messages);

                for(let i = 0; i < chaves.length; i++) {
                    let locale = {
                        code: chaves[i],
                        mozillaApiLocale: messages[chaves[i]].mozilla_api_locale,
                        description: messages[chaves[i]].description
                    };

                    arrayLocales.push(locale);
                }

                return arrayLocales;
            }
        }
    });
</script>
</body>
</html>